.footer {
	font-family: Goldman;
	font-size: 0.625rem;
	color: $light-color;
	background-color: $primary-color;
	padding: $size-2-px;

	display: flex;
	justify-content: space-between;
	gap: $size-2-px;

	@include mq-tablet {
		font-size: 0.688rem;
	}

	@include mq-desktop {
		font-size: 0.813rem;
	}
}

.footer-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&.is-left {
		min-width: 116px;
	}

	&.is-right {
		text-align: right;
		max-width: 210px;

		@include mq-tablet {
			max-width: none;
		}
	}

	&__text {
		&.has-icon {
			display: flex;
			line-height: 10px;
			height: 15px;
			align-items: center;
			gap: $size-1-px;

			@include mq-tablet {
				line-height: 11px;
				height: 17px;
			}

			@include mq-desktop {
				line-height: 13px;
				height: 19px;
			}
		}
	}
}
