.footer {
    font-family: Goldman;
    font-size: 10px;
    color: $light-color;
    background-color: $primary-color;
    padding: 8px;

    display: flex;
    justify-content: space-between;
    gap: 8px;

    @media(min-width: 769px){
        font-size: 11px;
    }
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.is-left {
        min-width: 116px;
    }

    &.is-right {
        text-align: right;
        max-width: 210px;

        @media(min-width: 769px){
            max-width: none;
        }
    }

    &__text {
        &.has-icon {
            display: flex;
            line-height: 10px;
            height: 15px;
            align-items: center;
            gap: 4px;

            @media(min-width: 769px){
                line-height: 11px;
                height: 17px;
            }
        }
    }
}