.vehicle-modal {
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 40;
	align-items: flex-end;

	&__background {
		&.is-active {
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	@include mq-tablet {
		justify-content: center;
		align-items: center;
	}

	&.is-active {
		display: flex;
	}
}

.vehicle-modal-card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 65%;
	background-color: $light-color;
	bottom: -100%;
	transition: bottom 0.6s;

	border-radius: 8px 8px 0px 0px;

	&.is-active {
		bottom: 0;
	}

	@include mq-tablet {
		bottom: 100%;
		width: 60%;
		max-width: 650px;
		border-radius: 8px;
	}
}

.vehicle-modal-card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 8px 8px 16px;
	box-shadow: 0px 1px 4px -1px rgba(234, 172, 255, 0.39);

	@include mq-tablet {
		font-size: $font-size-lg;
	}
}

.vehicle-modal-card-body {
	max-height: 100%;
	padding: $size-4-px $size-4-px $size-10-px $size-4-px;
	overflow-y: auto;

	@include mq-tablet {
		overflow: auto;
		padding-bottom: 16px;
	}
}

.vehicle-modal-close {
	cursor: pointer;
	display: grid;
	place-content: center;
	width: $size-10-px;
	height: $size-10-px;

	&__icon {
		font-size: 1.75rem;
	}
}

.add-vehicle-form {
	font-size: $font-size-sm;
	color: #333;

	@include mq-tablet {
		font-size: $font-size-base;
	}

	&__select {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 10px 25px 10px 6px;
		border: none;
		border-bottom: 1px solid $secondary-color;
		background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%233BBEAA'><polygon points='0,0 100,0 50,50'/></svg>")
			no-repeat;
		background-size: $size-4-px;
		background-position: calc(100% - 5px) 17px;
		background-repeat: no-repeat;

		& option[disabled] {
			display: none;
		}

		&.is-error {
			border-bottom-color: #d70c31;
			background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23d70c31'><polygon points='0,0 100,0 50,50'/></svg>")
				no-repeat;
			background-size: $size-4-px;
			background-position: calc(100% - 5px) 17px;
			background-repeat: no-repeat;
		}
	}

	&__input {
		width: 100%;
		padding: 10px 6px 10px 6px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		-webkit-appearance: none;
		background: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		border-bottom: 1px solid $secondary-color;

		&.is-date {
			padding: 9px 0px;
		}

		&.is-error {
			border-bottom-color: #d70c31;
		}
	}
}

.add-vehicle-form-input-group {
	display: flex;
	gap: $size-4-px;
	justify-content: space-between;

	& .grow-1 {
		flex-grow: 1;
	}
}

.vehicle-modal-card-footer {
	display: flex;
	justify-content: space-between;
	margin-top: $size-2-px;

	&__button {
		cursor: pointer;
		padding: $size-2-px $size-4-px;
		min-height: $size-11-px;
		border: none;
		border-radius: $size-2-px;
		box-shadow: 0px 1px 4px 0px rgba(234, 172, 255, 0.25);

		&.is-primary {
			background-color: $primary-color;
			color: $light-color;
		}

		&:active {
			box-shadow: inset 0px 1px 4px 0px rgba(234, 172, 255, 0.25);
		}
	}
}
.add-vehicle-form-item-container {
	margin-bottom: $size-5-px;
}

.add-vehicle-form-error-message {
	display: flex;
	align-items: center;
	gap: $size-2-px;
	margin-top: 6px;
	color: #d70c31;

	&__icon {
		flex-shrink: 0;
	}
}
