.vehicle-card {
	position: relative;
	background-color: $light-color;
	border-radius: 8px;
	padding: $size-4-px;
	width: 320px;
	box-shadow: 0px 1px 4px 0px rgba(234, 172, 255, 0.25);

	&__img {
		height: 150px;
	}
	&__header {
		display: flex;
		justify-content: center;
		margin-bottom: $size-4-px;
	}

	&__title {
		font-family: 'Goldman';
		color: $primary-color;
		text-align: center;
		margin-bottom: $size-2-px;
	}
}

.vehicle-card-detail-list {
	list-style: none;
	padding: $size-0-px;
	column-count: 2;
	font-weight: 500;
}

.remove-vehicle-button {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	display: grid;
	place-content: center;
	width: $size-10-px;
	height: $size-10-px;
	border: none;
	background: none;

	&__icon {
		color: #757575;
		font-size: 1.125rem;
	}
}

.vehicle-card-detail {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: $size-1-px $size-0-px;

	&__icon {
		color: $primary-color;
	}

	&__description {
		&.no-added {
			color: #757575;
		}
	}
}
