@import '../../../styles/tokens/all';
@import '../../../styles/mixins/all';

.sidebar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $size-2-px $size-4-px;
	overflow-x: hidden;
	min-width: 264px;
	min-height: 56px;
}

.sidebar-header-logo {
	display: flex;
	align-items: center;
	gap: $size-2-px;

	&__text {
		font-family: 'Goldman';
		color: $secondary-color;
	}
}

.sidebar-header-close {
	cursor: pointer;
	display: grid;
	place-content: center;
	width: $size-10-px;
	height: $size-10-px;

	&__icon {
		font-size: $font-size-2xl;
		color: $secondary-color;
	}

	@media (min-width: 1024px) {
		display: none;
	}
}
