@import url('./utils/fonts/goldman.scss');
@import url('./utils/fonts/inter.scss');
@import './tokens/all.scss';
@import './mixins/all.scss';

//Components
@import './components/header/header';
@import './components/icons/notificationsIcon';
@import './components/sidebar/sidebar';
@import './components/sidebar/header/sidebarHeader';
@import './components/modals/addVehicleModal/addVehicleModal.scss';
@import './components/sidebar/items/sidebarItem';
@import './components/sidebar/user/sidebarUser';
@import './components/infoCard/infoCard.scss';
@import './components/footer/footer.scss';

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
	margin: 0;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:focus,
*:hover {
	outline: none;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
	font-family: 'Inter';
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

.app-container {
	@media (min-width: 1024px) {
		display: flex;
		flex-direction: row-reverse;
	}
}

.main-container {
	min-width: 320px;

	@media (min-width: 1024px) {
		height: 100vh;
		overflow-y: scroll;
		align-self: flex-start;
		flex-grow: 1;
	}
}

.main {
	min-height: unquote('calc(100vh - 112px)');
	background-color: $extra-color;
	padding: 16px;
}

.scroll-block {
	overflow: hidden;
}

.section {
	margin-bottom: 24px;
	max-width: 2000px;
	margin: 0px auto 24px auto;
}

.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-description {
	&.has-description {
		@include mq-tablet {
			display: grid;
			grid-template-columns: 55% 1fr;
			align-items: center;
		}
	}

	&.has-no-description {
		@media (min-width: 1024px) {
			display: grid;
			place-items: center;

			.section-description__img {
				max-width: 65%;
			}
		}
	}

	&__img {
		margin-top: 24px;
		margin-bottom: 32px;
	}

	&__text {
		font-weight: 500;
		line-height: normal;
		text-align: center;

		@include mq-tablet {
			font-size: 18px;
		}

		@include mq-desktop {
			font-size: 20px;
		}
	}
}

.section-header-title {
	font-family: Goldman;
	font-size: 24px;
	text-align: center;
	font-weight: 400;
	color: $primary-color;

	@include mq-tablet {
		font-size: 34px;
	}

	&__line {
		display: block;
		width: 75%;
		height: 1.5px;
		background-color: $secondary-color;
		margin: 0 auto;
		border-radius: 1px;

		@include mq-tablet {
			height: 2.125px;
		}
	}
}

.home-info-cards-container {
	@include grid-max-auto-columns(8px, 2, 288px);

	@include mq-desktop {
		@include grid-max-auto-columns(16px, 4, 288px);

		& .info-card:last-child {
			grid-column: -2;
		}
	}
}

.vehicles-container{
	display: flex;
	justify-content: center;
}

.add-vehicle-button {
	cursor: pointer;
	width: 320px;
	min-height: 50px;
	border: none;
	border-radius: 8px;
	background-color: $light-color;
	padding: 8px;
	box-shadow: 0px 1px 4px 0px rgba(234, 172, 255, 0.25);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	&:active {
		box-shadow: inset 0px 1px 4px 0px rgba(234, 172, 255, 0.25);
	}

	@include mq-tablet{
		width: 320px;
		height: 50px;
		font-size: 18px;
	}
}

label {
	display: block;
}
