.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.sidebar-header-logo{
    display: flex;
    align-items: center;
    gap: 8px;

    &__text{
        font-family: 'Goldman'; 
        color: #3BBEAA;
    }
}

.sidebar-header-close{
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;

    &__icon{
        font-size: 24px;
        color: #3BBEAA;
    }
}