// 👇 Fixed sizes
$size-0-px: 0px;
$size-1-px: 4px;
$size-2-px: 8px;
$size-3-px: 12px;
$size-4-px: 16px;
$size-5-px: 20px;
$size-6-px: 24px;
$size-7-px: 28px;
$size-8-px: 32px;
$size-9-px: 36px;
$size-10-px: 40px;

// 👇 Relative sizes
$size-0-rem: 0;
$size-1-rem: 0.25rem; // 4px if the base font size is 16px
$size-2-rem: 0.5rem; // 8px
$size-3-rem: 0.75rem; // 12px
$size-4-rem: 1rem; // 16px
$size-5-rem: 1.25rem; // 20px
$size-6-rem: 1.5rem; // 24px
$size-7-rem: 1.75rem; // 28px
$size-8-rem: 2rem; // 32px
$size-9-rem: 2.25rem; // 36px
$size-10-rem: 2.5rem; // 40px
