.header-container {
	position: sticky;
	top: 0;
	background-color: $primary-color;
	z-index: 1;
	padding: $size-2-px $size-4-px;
	box-shadow: 0 3px 6px 0px #eaacffbf;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icons-container {
	display: flex;
	gap: $size-2-px;
}

.icon-item {
	cursor: pointer;
	width: $size-10-rem;
	height: $size-10-rem;
	display: grid;
	place-content: center;

	&__content {
		font-size: $font-size-2xl;
		color: $secondary-color;
	}

	&.is-menu {
		border: none;
		background: none;
		@media (min-width: 1024px) {
			display: none;
		}
	}
}
