.sidebar-nav-link {
	display: flex;
	cursor: pointer;
	align-items: center;
	gap: $size-4-px;
	padding-left: $size-4-px;
	padding-right: $size-4-px;

	padding-top: $size-2-px;
	padding-bottom: $size-2-px;

	text-decoration: none;

	&:hover {
		background-color: $secondary-color;

		& .sidebar-nav-link__icon {
			color: #fff;
		}
	}
	&.is-blocked {
		pointer-events: none;
	}

	&__icon {
		font-size: 24px;
		color: $secondary-color;

		&.is-blocked-icon {
			font-size: 22px;
		}

		&.is-blocked {
			opacity: 0.5;
		}
	}

	&__text {
		font-size: 12px;
		line-height: normal;
		font-weight: normal;
		flex-grow: 1;

		color: #fff;

		&.is-blocked {
			opacity: 0.5;
		}
	}

	&.active {
		background-color: $secondary-color;

		& .sidebar-nav-link__icon {
			color: #fff;
		}
	}
}

.sidebar-nav-link-container {
	&.is-blocked {
		pointer-events: none;
	}
}
