.info-card {
	display: flex;
	justify-content: space-between;
	gap: $size-4-px;

	padding: $size-2-px;
	margin-bottom: $size-2-px;
	border-radius: $size-2-px;

	background-color: $light-color;

	box-shadow: 0px 1px 4px 0px rgba(234, 172, 255, 0.25);

	align-items: center;

	@include mq-desktop {
		flex-direction: column-reverse;
	}
}

.info-card-picture {
	min-width: 39.34%;
	width: 39.34%;

	@include mq-desktop {
		min-width: none;
		width: inherit;
	}

	&__img {
		border-radius: 8px;
	}
}

.info-card-description {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__title {
		font-size: $font-size-sm;
		margin-bottom: $size-2-px;
		overflow: hidden;

		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;

		@include mq-desktop {
			font-size: $font-size-xl;
		}
	}

	&__text {
		font-size: $font-size-xs;
		overflow: hidden;

		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;

		@include mq-desktop {
			font-size: $font-size-sm;
		}
	}

	@include mq-desktop {
		padding: $size-2-px $size-2-px $size-0-px $size-2-px;
		text-align: center;
	}
}
