@font-face {
    font-family: 'Goldman';
    src: url('../../../assets/fonts/Goldman/Goldman-Regular.ttf') format('truetype'),
        url('../../../assets/fonts/Goldman/Goldman-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}