@import '../../styles/tokens/all';
@import '../../styles/mixins/all';

.footer {
	font-family: Goldman;
	font-size: $font-size-xs;
	color: $light-color;
	background-color: $primary-color;
	padding: $size-2-px;

	display: flex;
	justify-content: space-between;
	gap: $size-4-px;

	@include mq-desktop {
		font-size: $font-size-sm;
	}
}

.footer-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&.is-left {
		flex-shrink: 0;
	}

	&.is-right {
		text-align: right;
	}

	&__text {
		&.has-icon {
			display: flex;
			line-height: 11px;
			height: 17px;
			align-items: center;
			gap: $size-1-px;

			@include mq-desktop {
				line-height: 14px;
				height: $size-5-px;
			}
		}
	}

	&__icon {
		flex-shrink: 0;
	}
}
