.notifications-icon {
	position: relative;
	&__ellipse {
		background-color: $third-color;
		width: $size-2-rem;
		height: $size-2-rem;
		position: absolute;
		right: $size-1-rem;
		top: $size-1-rem;
		border-radius: 50%;
	}

	&__bell {
		font-size: 1.5rem;
		color: #4a4a4a;
	}
}
