@import '../../styles/tokens/all';

.notifications-icon {
	position: relative;
	&__ellipse {
		background-color: #ce60f3;
		width: $size-2-rem;
		height: $size-2-rem;
		position: absolute;
		right: $size-1-rem;
		top: $size-1-rem;
		border-radius: 50%;
	}

	&__bell {
		font-size: $font-size-2xl;
		color: $secondary-color;
	}
}
