@import './styles/tokens/all';
@import './styles/mixins/all.scss';

.app-container {
	@media (min-width: 1024px) {
		display: flex;
		flex-direction: row-reverse;
	}
}

.scroll-block {
	overflow: hidden;
}

.main-container {
	min-width: 320px;

	@include mq-desktop {
		height: 100vh;
		overflow-y: scroll;
		align-self: flex-start;
		flex-grow: 1;
	}
}

.main {
	min-height: unquote('calc(100vh - 117px)');
	padding: $size-4-px;

	@include mq-tablet{
		min-height: unquote('calc(100vh - 123px)');
	}

	@include mq-desktop{
		min-height: unquote('calc(100vh - 129px)');
	}
}