.add-vehicle-button-container {
	display: flex;
	justify-content: center;
	margin-bottom: $size-6-px;
}

.add-vehicle-button {
	cursor: pointer;
	color: $light-color;
	font-weight: 500;
	width: 320px;
	min-height: 50px;
	border: none;
	border-radius: 8px;
	background-color: $primary-color;
	padding: $size-2-px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: $size-2-px;

	&:active {
		box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
	}

	@include mq-tablet {
		width: 320px;
		height: 50px;
		font-size: $font-size-lg;
	}
}

.vehicles-container {
	margin-bottom: $size-6-px;
	display: flex;
	justify-content: center;
	gap: $size-4-px;
	flex-wrap: wrap;
}
